body{
    background-color:#f0f0f0;
    margin-top: 3%;
    margin-bottom: 3%;
}
h1{
    font-size: 12pt;
    font-weight: bold;
    margin-left: 5%;
    font-family: sans-serif;
}

h2{
    margin:0px;
    font-size: 26px;
    
}
p{
    margin:0px;
}

#searchbar {
    margin-right: auto;
    width: 38%;
    height: 77px;
    margin-left: auto;
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
-webkit-box-shadow: 10px 10px 38px -12px rgba(0,0,0,0.49);
-moz-box-shadow: 10px 10px 38px -12px rgba(0,0,0,0.49);
box-shadow:15px 13px 20px 0px rgba(0,0,0,0.09);
border-radius: 12px 12px 0px 0px;
-moz-border-radius: 12px 12px 0px 0px;
-webkit-border-radius: 12px 12px 0px 0px;
border: 0px solid #000000;
}


#searchbtn {
    display: flex;
    align-items: center;
    width: 17%;
    height: 45%;
    margin-top: auto;
    margin-left: 59px;
    margin-right: 58px;
    border-radius: 4px;
    justify-content: center;
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: auto;
    background-color: #F0F0F0;
    font-family: sans-serif;
}

#name {
    margin-top: auto;
    padding-right: 10px;
    border-radius: 5px;
    width: 46%;
    height: 40%;
    margin-bottom: auto;
    margin-right: 10px;
    font-size: 12pt;
    padding-left: 10px;
    margin-left: auto;
}

.avatarFoto {
    width: 20%;
    height: 110px;
    margin-left: 5%;
}

.photo {
    border: 1px solid white;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: 50% 50%;
}

#dataUser {
    width: 38%;
    height: 77%;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    box-shadow: 15px 15px 15px rgba(211, 211, 211, 0.9);
    display: flex;
}
.loginName{
    font-size: 12pt;
    font-family: sans-serif;
    margin-left: 8px;
}
.fullName{
    font-size:20pt;
    font-family: sans-serif;
    margin-left: 10px;
}
#infoUser{
    padding-left: 10px;
    
}
.bio{
    margin-left: 12px;
    margin-top: 6px;
    font-family: sans-serif;
    font-size: 13px;
}
#dataRepos {
    width: 38%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    box-shadow: 15px 15px 15px rgba(211, 211, 211, 0.9);
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 0px 12px 12px;
-moz-border-radius: 0px 0px 12px 12px;
-webkit-border-radius: 0px 0px 12px 12px;
border: 0px solid #000000;
}

.dataRepos{
    font-family: sans-serif;
    margin-top: 11px;
    display: flex;
    margin-left: 26px;
    font-weight: 600;
    padding-top: 12px;
    width: 85%;
    height: 150%;
    padding-bottom: 10px;
    border-bottom: 2px solid darkgrey;
}

.repoUserLine {
    height: 1px;
    width: 90%;
    background-color: lightgrey;
    margin-right: auto;
    margin-left: auto;
}
.repoUser {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-family: sans-serif;
}
.titleLine {
    height: 2px;
    width: 90%;
    background-color: darkgrey;
    margin-left: auto;
    margin-right: auto;
}
.repoName{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.itemDiv{
    display: flex;
    align-items: center;
    margin-left: 225px}

.wholeRepos{
    max-height: 300px;
    overflow-y: scroll;
}
.error {
    color: darkred;
    border: 1px solid darkred;
    background-color: lightpink;
    width: 90%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: left;
    font-size: 12pt;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}